@media screen and (max-width: 700px){
    main > h2{
        font-size: 1.6rem;
    }

    .menu-item > img{
        width: 150px;
    }

    .item-text > span{
        font-size: 0.8rem;
        font-weight: 700;
    }

    .item-text > p{
        font-size: 0.7rem;
    }

    .item-price{
        font-size: 0.8rem;
    }

    .item-price > p{
        margin: 0;
    }

    .item-price > button {
        padding: 0px 10px;
    }

    .item-price > button > i{
        font-size: 0.6rem;
    }
}